:root {
    --bg-color1: #212529;                 /* Dark Background */
    --bg-color2: #2a2b2d;                 /* Light Background */
    --aqi-1: #d4e157;                     /* Good AQI */
    --aqi-2: #ffee58;                     /* Moderate AQI */
    --aqi-3: #ffca28;                     /* Unhealthy for Sensitive Groups AQI */
    --aqi-4: #ff7043;                     /* Unhealthy AQI */
    --aqi-5: #ef5350;                     /* Very Unhealthy AQI */
}
*{
    margin: 0;                              /* Remove default margin */
    padding: 0;                             /* Remove default padding */
    box-sizing: border-box;                 /* Include padding and border in element's total width and height */
}

/* Global Styles */
body {
    min-height: 100vh;                      /* Set minimum height of the viewport for body */
    background-color: var(--bg-color1);     /* Set background color for body */
    color: #fff;                          /* Set text color for body */
    font-family: sans-serif;                /* Set font family for body */
    padding: 0 15px;                        /* Set padding for body */
}

/* Container Styles */
hr {
    margin-bottom: 10px;                    /* Set margin bottom for horizontal rule */
}

/* Header Styles */
.header {
    position: sticky;                                   /* Set header to stick on top */
    top: 0;                                             /* Set top position of header */
    background-color: var(--bg-color1);                 /* Set background color for header */
    display: flex;                                      /* Set display property to flex */
    justify-content: space-between;                     /* Set space between elements */
    align-items: center;                                /* Set align items to center */
    margin-bottom: 10px;                                /* Set margin bottom for header */
    padding: 15px 0;                                    /* Set padding for header */
    
    /* set box shadow for input_city */
    & #city_input {
        background-color: var(--bg-color2);             /* Set background color for input */
        border: none;                                   /* Remove border */
        padding: 12px;                                  /* Set padding for input */
        font-size: 16px;                                /* Set font size for input */
        border-radius: 25px;                            /* Set border radius for input */
        color: #fff;                                  /* Set text color for input */
        /* set box shadow for input */
        &:focus {
            outline: none;                              /* Remove outline */
        }
    }

    /* set box shadow for button search */
    & #searchBtn {
        border: none;                                   /* Remove border */
        font-size: 16px;                                /* Set font size for button */
        padding: 12px;                                  /* Set padding for button */
        border-radius: 25px;                            /* Set border radius for button */
        background-color: #fff;                       /* Set background color for button */
        cursor: pointer;                                /* Set cursor to pointer */
    }

    /* set box shadow for button location */
    & #locationBtn {
        border: none;                                   /* Remove border */
        font-size: 16px;                                /* Set font size for button */
        padding: 12px;                                  /* Set padding for button */
        border-radius: 25px;                            /* Set border radius for button */
        background-color: #ea6e4d;                    /* Set background color for button */
        cursor: pointer;                                /* Set cursor to pointer */
    }
}

/* Weather Card Styles */
.card {
    background-color: var(--bg-color2);                 /* Set background color for card */
    padding: 15px;                                      /* Set padding for card */
    border-radius: 15px;                                /* Set border radius for card */
    margin-bottom: 15px;                                /* Set margin bottom for card */

    /* set box shadow current weather in card */
    & p {
        font-size: 14px;                                /* Set font size for paragraph */
        color: #999;                                  /* Set text color for paragraph */
    }

    /*set box shadow degree of weather in card */
    & h2 {
        font-size: 32px;                                /* Set font size for heading */
        font-weight: 500;                               /* Set margin bottom for heading */
    }
}

/* Weather Data Styles */
.weather-data {
    /*  use flexbox to align items 
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
    */


    /*  use grid to align items 
syntax: display: grid;
        grid-template-columns: repeat(4, 1fr); 4 columns with equal width, 1fr means 1 fraction of the available space */
    display: grid;                                      /* Set display property to grid */
    grid-template-columns: repeat(4, 1fr);              /* Set grid template columns */
    gap: 12px;                                          /* Set gap between grid items */


    /* set box for weather left */
    & .weather-left {
        grid-column: span 1;                            /* Set grid column span to 1 */

        /* set box shadow for weather icon */
        & .current-weather {
            display: flex;                              /* Set display property to flex */
            justify-content: space-between;             /* Set space between elements */
            align-items: center;                        /* Set align items to center */

            /* set box height for weather icon */
            & h2 {
                margin: 7px 0;                          /* Set margin for heading */
            }

            /* set color for weather icon */
            & p {
                color: #fff;                          /* Set text color for paragraph */
            }
        }

        /* set box shadow card footer in weather data */
        & .card-footer p {
            font-size: 14px;                            /* Set font size for paragraph */
            margin-bottom: 12px;                        /* Set margin bottom for paragraph */
        }

        /* set box shadow for days_forecast */
        & .forecast-item {
            display: grid;                              /* Set display property to grid */
            grid-template-columns: repeat(3, 1fr);      /* Set grid template columns */
            place-items: center;                        /* Set place items to center */
            margin-bottom: 15px;                        /* Set margin bottom for forecast item */

            /* set box for icon wrapper */
            & .icon-wrapper {
                display: flex;                          /* Set display property to flex */
                align-items: center;                    /* Set align items to center */
            }
        }
    }



    /* set box shadow for weather right */
    & .weather-right {
        grid-column: span 3;                            /* Set grid column span to 3 */
        
        /* set box shadow for weather details [air quality, humidity, wind speed,...] */ 
        & h2 {
            margin-bottom: 10px;                        /* Set margin bottom for heading */
        }
        
        /* box shadow for weather details [air quality, humidity, wind speed,...] */
        & .highlights {
            display: grid;                              /* Set display property to grid */
            grid-template-columns: repeat(4, 1fr);      /* Set grid template columns */
            column-gap: 15px;                           /* Set column gap */

            /* set box shadow air quality  and humidity */
            & .card:nth-of-type(1),
            & .card:nth-of-type(2) {
                grid-column: span 2;                      /* Set grid column span to 2 */
            }

            /* set box shadow for highlight card right */
            & .card-head {
                display: flex;                          /* Set display property to flex */
                justify-content: space-between;         /* Set space between elements */
                margin-bottom: 10px;                    /* Set margin bottom for card head */

                /* set box shadow and color for air quality */
                & .air-index {
                    color: #000;                      /* Set text color for air index */
                    padding: 5px 10px;                  /* Set padding for air index */
                    border-radius: 15px;                /* Set border radius for air index */
                    
                    /* set color for air index (good) */
                    &.aqi-1 {
                        background-color: var(--aqi-1); /* Set background color for good AQI */
                    }

                    /* set color for air index (moderate) */
                    &.aqi-2 {
                        background-color: var(--aqi-2); /* Set background color for moderate AQI */
                    }

                    /* set color for air index (unhealthy for sensitive groups) */
                    &.aqi-3 {
                        background-color: var(--aqi-3); /* Set background color for unhealthy for sensitive groups AQI */
                    }

                    /* set color for air index (unhealthy) */
                    &.aqi-4 {
                        background-color: var(--aqi-4); /* Set background color for unhealthy AQI */
                    }

                    /* set color for air index (very unhealthy) */
                    &.aqi-5 {
                        background-color: var(--aqi-5); /* Set background color for very unhealthy AQI */
                    }
                }
            }

            /* set box shadow for air indices */
            & .air-indices {
                display: grid;                          /* Set display property to grid */
                grid-template-columns: repeat(4, 1fr);  /* Set grid template columns */
                place-items: center;                    /* Set place items to center */

                /* */
                & p {
                    text-align: center;                 /* Set text align to center */
                }
            }

            /* set box shadow for sunrise and sunset */
            & .sunrise-sunset {
                display: grid;                          /* Set display property to grid */
                grid-template-columns: repeat(2, 1fr);  /* Set grid template columns */

                /* set box shadow for item sunrise and sunset */
                & .item {
                    display: flex;                      /* Set display property to flex */
                    align-items: center;                /* Set align items to center */
                    gap: 10px;                          /* Set gap between items */

                    /* set box shadow for heading sunrise and sunset */
                    & h2 {
                        margin-top: 15px;                /* Set margin top for heading */
                    }
                }
            }

            /* set box shadow for humidity */
            & .card-item {
                display: flex;                           /* Set display property to flex */
                justify-content: space-between;          /* Set space between elements */
            }
        }

        /* */
        & .hourly-forecast {
            display: grid;                              /* Set display property to grid */
            grid-template-columns: repeat(8, 1fr);      /* Set grid template columns */
            column-gap: 10px;                           /* Set column gap */

            /* */
            & .card {
                text-align: center;                     /* Set text align to center */
            }
        }
    }
}